<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="public/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="public/css/style.css" rel="stylesheet">
    <link href="public/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" class="">
      <!--header start-->
      <header class="header white-bg">
          <div class="sidebar-toggle-box">
              <div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-bars tooltips"></div>
          </div>
          <!--logo start-->
          <a href="/" class="logo">Student <span>Scheduler</span></a>
            <a class="logonew">Welcome To Your Class Scheduler!</a>
          <!--logo end-->
        
          <div class="top-nav ">
              <ul class="nav pull-right top-menu">
                  <li>
                      <input type="text" class="form-control search" placeholder="Search">
                  </li>
                  <!-- user login dropdown start-->
                  <li class="dropdown">
                      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                          <img alt="" src="public/img/avatar1_small.jpg">
                          <span class="username"><%=user.username%></span>
                          <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu extended logout">
                          <li><a href="/profile"><i class=" fa fa-suitcase"></i>Profile</a></li>
                          <li><a href="profile-edit.html"><i class="fa fa-cog"></i> Settings</a></li>
                          <li><a href="/logout"><i class="fa fa-key"></i> Log Out</a></li>
                      </ul>
                  </li>
                  <!-- user login dropdown end -->
              </ul>
          </div>
      </header>
      <!--header end-->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
                          <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                      <a class="active" href="profile.html">
                          <i class="fa fa-suitcase"></i>
                          <span>Profile</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Degree Requirements</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>Class Information</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-shopping-cart"></i>
                          <span>Course Resources</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Professor Rating</span>
                      </a>
                      
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-comments-o"></i>
                          <span>Discussion Board</span>
                      </a>
                     
                  </li>
                  <li class="sub-menu">
                      <a href="/schedule" >
                          <i class=" fa fa-th"></i>
                          <span>My Schedule</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!-- page start-->
              <div class="row">
                  <aside class="profile-nav col-lg-3">
                      <section class="panel">
                          <div class="user-heading round">
                              <a href="#">
                                  <img src="public/img/profile-avatar.jpg" alt="">
                              </a>
                              <h1><b><%= user.username %></b></h1>
                              <p><b><%= user.local.email %></b></p>
                          </div>

                      </section>
                  </aside>
                  <aside class="profile-info col-lg-9">
                      <section class="panel">
                          <div class="bio-graph-heading">
                              Student Information
                          </div>
                          <div class="panel-body bio-graph-info">
                              <div class="row">
                                  <div class="bio-row">
                                      <p><span>First Name: </span><%= user.local.firstname %></p>
                                  </div>
                                  <div class="bio-row">
                                      <p><span>Last Name: </span><%= user.local.lastname %></p>
                                  </div>
                                  <div class="bio-row">
                                      <p><span>Email: </span><%= user.local.email %></p>
                                  </div>
                                  <div class="bio-row">
                                      <p><span>Username: </span><%= user.username %></p>
                                  </div>
                                  <div class="bio-row">
                                      <p><span>School: </span><a href="/school/<%= school._id%>"><%= school.name %></a></p>
                                  </div>
                                  <div class="bio-row">
                                      <p><span>Major: </span><%=user._major.name%></p>
                                  </div>
                               
                              </div>
                          </div>
                      </section>
                      <section>
                          <div class="row">
                              <div class="col-lg-12">
                                  <div class="panel">
                                      <div class="panel-body">
                                          <div class="bio-chart">
                                              <input class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".4" value="59" data-fgColor="#e06b7d" data-bgColor="#e8e8e8">
                                          </div>
                                          <div class="bio-desk">
                                              <h4 class="red"><b>Course Progress</b></h4>
                                              <p> Total Number of Credit Hours Required for Degree : 182</p>
                                              <p> Total Number of Credit Hours Completed : 108</p>
                                              <p> Progress: 59.34 %</p>
                                              <p> Current Standing: Sophomore</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              
                              
                          </div>
                      </section>
                  </aside>
              </div>

              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2014 &copy; Student Scheduler by Tardis, GoogleJump.
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="public/js/jquery.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="public/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="public/js/jquery.scrollTo.min.js"></script>
    <script src="public/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="public/assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="public/js/respond.min.js" ></script>

    <!--common script for all pages-->
    <script src="public/js/common-scripts.js"></script>

  <script>

      //knob
      $(".knob").knob();

  </script>


  </body>
</html>
