<!doctype html>
<html>
<head>
	<title>Scheduler - <%=professor.name%></title>
	
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/jquery-ui.min.css">

	<style>
		body 		{ padding-top:10px; word-wrap:break-word; }
	</style>

	<script src="/public/js/jquery-1.11.1.min.js"></script>
  	<script src="/public/js/jquery-ui.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
  	<script src="/public/js/professor-main.js"></script>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1>Scheduler</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<ol class="breadcrumb">
			  <li><a href="/">Home</a></li>
			  <li><a href="/school/<%=professor._school._id%>"><%=professor._school.name%></a></li>
			  <li class="active"><%= professor.name %></li>
			</ol>
			<h3></span>Professor details</h3>
			<p>
				<strong>Name</strong>: <%= professor.name %><br>
				<strong>Department</strong>: <%= professor.department %><br>
			</p>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Ratings</h3>
				</div>
				<%if(professor._ratings.length>0){%>
					<div class="list-group">
						<%for(var i=0;i<professor._ratings.length;i++){%>
							<%var r = professor._ratings[i];%>
							<li class="list-group-item">
								<div class="col-xs-1">
									<button class="btn btn-link pull-left" onclick='upvote("<%=r._id%>");'><span class="glyphicon glyphicon-chevron-up"></span></button><br>
									<p class="text-center"><span id="score-<%=r._id%>" class=""><%=r.score%></span></p>
									<button class="btn btn-link pull-left" onclick='upvote("<%=r._id%>", true);'><span class="glyphicon glyphicon-chevron-down"></span></button>
								</div>
								<div class="col-xs-11">
									<ul class="list-inline col-sm-11">
										<li>Helpfulness <span class="label label-primary"><%=r.helpfulness%></span></li>
										<li>Difficulty <span class="label label-primary"><%=r.difficulty%></span></li>
										<li>Clarity <span class="label label-primary"><%=r.clarity%></span></li>
									</ul>
									<%if(r.recommend){%>
										<span class="label label-success col-sm-1" title="would recommend"><span class="glyphicon glyphicon-ok"></span></span>
									<%} else {%>
										<span class="label label-warning col-sm-1" title="would not recommend"><span class="glyphicon glyphicon-remove"></span></span>
									<%}%>
									<blockquote class="col-sm-12">
										<p><%=r.comment%></p>

										<footer>
											posted by 
											<%if(r._poster){%>
											<%=posterMap[r._poster].username%> <span class="badge"><%=posterMap[r._poster].reputation%></span>
											<%}else{%>
											anonymous
											<%}%>
										
										</footer>
									</blockquote>
								</div>
								<div class="clearfix"></div>
							</li>
						<%}%>
					</div>
				<%} else {%>
					<div class="panel-body">No ratings yet. Why don't you add one?</div>
				<%}%>
			</div>
		</div>
			
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Rate this professor</h3>
				</div>
				<div class="panel-body">
					<%if(rateState==2){%>
						<p>You have already rated this professor</p>
					<%}else{%>
					<%if(cUser){%>
					<input type="hidden" id="professorId" value="<%=professor._id%>"></input>
					<div class="form-group">
						<p><strong>Helpfulness</strong>: <span id="helpfulness-label">average</span></p>
						<div id="slider-helpfulness" class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"></div>
					</div>
					<div class="form-group">
						<p><strong>Difficulty</strong>: <span id="difficulty-label">moderate</span></p>
						<div id="slider-difficulty" class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"></div>
					</div>
					<div class="form-group">
						<p><strong>Clarity</strong>: <span id="clarity-label">average</span></p>
						<div id="slider-clarity" class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"></div>
					</div>
					<div class="checkbox">
	                   <label>
					    <input type="checkbox" id="rating-recommend">
					    Would you recommend this professor to a friend?
					  </label>
                    </div>
					<div class="form-group">
						<label>Comment:</label>
						<textarea rows="4" cols="50" class="form-control" id="rating-comment"></textarea>
					</div>
					<div class="checkbox">
					  <label>
					  	<input type="checkbox" id="rating-anon"> Post anonymously
					   </label>
					</div>
					<button type="submit" class="btn btn-primary btn-lg pull-right" id="rate-button">Add rating</button>
					<%} else {%>
						<p>You must be <a href="/login">logged in</a> to rate this professor</p>
					<%} }%>
				</div>
			</div>
		</div>

	</div>

</div>
</body>
</html>
