<!doctype html>
<html>
<head>
	<title>Scheduler - <%=professor.name%></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:10px; word-wrap:break-word; }
	</style>
	<script src="../public/js/main.js" type="text/javascript"></script>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1>Professor details</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		
			<div class="well">
				<p><a href="/school/<%=school._id%>">Back to <%=school.name%></a></p>

				<h3></span>Professor details</h3>
					<p>
						<strong>Name</strong>: <%= professor.name %><br>
						<strong>Department</strong>: <%= professor.department %><br>
					</p>
			</div>

			<div class="well">
				<h3>Comments</h3>

					<p>
						<% for(var index=0;index<comments.length;index++) {%>
							<%var c = comments[index];%>
							<%var p = c._poster;%>
							<span id='reputation-<%=c._id%>'><B><%=c.helpfulness%></B></span> <%=c.comment%> 
							<input input id="upvote" type="button" value="Upvote" onclick="upvote('<%=c._id%>', false);" />
							<input input id="downvote" type="button" value="Downvote" onclick="upvote('<%=c._id%>', true);" /><br>
							<%if(p) {%>
								posted by <a href="/user/<%=p._id%>"><%=p.username%></a> (<%=p.reputation%>)
							<%} else {%>
								posted anonymously
							<%}%>
							<br><br>
						<%}%>
						<% if (comments.length==0) {%>
							No comments to show
						<%}%>
					</p>

			</div>

			<div class="well">
				<h3>Add a comment</h3>

					<form action="/professor/<%=professor._id%>/comment" method="post">
						<div class="form-group">
							<label>Comment:</label>
							<textarea rows="4" cols="50" class="form-control" name="comment"></textarea>
						</div>
						<div class="checkbox">
						  <label>
						  	<input type="checkbox" name="anon"> Post anonymously
						   </label>
						</div>
						<button type="submit" class="btn btn-warning btn-lg">Add comment</button>
					</form>
			</div>
		

	</div>

</div>
</body>
</html>
