<!doctype html>
<html>
<head>
	<title>Scheduler - <%=school.name%></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:10px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1>School details</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

		<!-- LOCAL INFORMATION -->
		
			<div class="well">
				<h3>School details</h3>

					<p>
						<strong>Id</strong>: <%= school._id %><br>
						<strong>Name</strong>: <%= school.name %><br>
						<strong>Location</strong>: <%= school.city %>, <%= school.state %><br>
					</p>

			</div>

			<div class="well">
				<h3>Professors</h3>

					<p>
						<% for(var index in professors) {%>
							<a href="/professor/<%=professors[index]._id%>"><%=professors[index].name%></a><br>
						<%}%>
					</p>

			</div>

			<div class="well">
				<h3>Add a professor</h3>

					<form action="/add-professor/<%=school._id%>" method="post">
						<div class="form-group">
							<label>Professor's name</label>
							<input type="text" class="form-control" name="name">
						</div>
						<div class="form-group">
							<label>Department</label>
							<input type="text" class="form-control" name="department">
						</div>

						<button type="submit" class="btn btn-warning btn-lg">Add</button>
					</form>
			</div>
		

	</div>

</div>
</body>
</html>
