<!doctype html>
<html>
<head>
	<title>Scheduler - Select school</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<link rel="stylesheet" href="/public/css/jquery-ui.min.css">
	    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/public/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/public/css/style.css" rel="stylesheet">
    <link href="/public/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="public/js/html5shiv.js"></script>
      <script src="public/js/respond.min.js"></script>
    <![endif]-->
	<style>
		body 		{ padding-top:10px; word-wrap:break-word; }
	</style>

	<script src="public/js/jquery-1.11.1.min.js"></script>
	<script src="public/js/select-school-main.js"></script>

	  <!-- Google analytics-->
  <script src="public/js/analytics.js"></script>
</head>
<body class="login-body">
<div class="container">

	                     <section>
                          <div class="loginheading">
                              Finally! The student class scheduler you've been looking for...
                          </div>
                          <a href="/login" class="loginlogo"><center> Student <span>Scheduler</center></span></a>
                      </section>  

	<div class="page-header text-center">
		<font color = "white" size="12"><center><i class=" fa fa-th-list"></i> Finish creating your account</center></font>
	</div>

	<div class="row">

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-12">
			<form action="/select-school" method="post">
			<%if(!user.username){%>
			<div class="well">
				<h3><b>Choose a username<b></h3>
				<div class="form-group">
					<input type="text" placeholder="Username" name="username" class="form-control">
				</div>
			</div>
			<%}%>

			<div class="well" >
				<h3><b>Select your school &amp; major<b></h3>
					<select class="form-control" name="school" id="school-select">
						<option value="null">Choose school...</option>
						<% for(var index in schoolArray) { %>
							<option value="<%=schoolArray[index]._id %>"><%=schoolArray[index].name %> (<%=schoolArray[index].city %>, <%=schoolArray[index].state %>)</option>
						<% } %>
					</select>
					</br>
					<select class="form-control" name="major" id="major-select" disabled>
						<option value="null">Select school first</option>
					</select>
					</br>
					<button type="submit" class="btn btn-primary btn-lg pull-right" > Finish <i class="fa fa-sign-in"></i></button><div class="clearfix"></div>	
			</div>
			</form>
		</div>
		<div class="col-md-6">
			<div class="well" id="school-parent">
				<h3><b>Not in the list? Add your school</b></h3>
					<div class="form-group">
						<label>School name <small>(no abbreviations)</small></label>
						<input type="text" class="form-control" name="schoolName" id="school-name-input">
					</div>
					<div class="form-group">
						<label>School city</label>
						<input type="text" class="form-control" name="schoolCity" id="school-city-input">
					</div>
					<div class="form-group">
						<label>School state</label>
						<select class="form-control" name="schoolState" id="school-state-input">
							<option value="AL">Alabama</option>
							<option value="AK">Alaska</option>
							<option value="AZ">Arizona</option>
							<option value="AR">Arkansas</option>
							<option value="CA">California</option>
							<option value="CO">Colorado</option>
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="DC">District Of Columbia</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="HI">Hawaii</option>
							<option value="ID">Idaho</option>
							<option value="IL">Illinois</option>
							<option value="IN">Indiana</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachusetts</option>
							<option value="MI">Michigan</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="MT">Montana</option>
							<option value="NE">Nebraska</option>
							<option value="NV">Nevada</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NM">New Mexico</option>
							<option value="NY">New York</option>
							<option value="NC">North Carolina</option>
							<option value="ND">North Dakota</option>
							<option value="OH">Ohio</option>
							<option value="OK">Oklahoma</option>
							<option value="OR">Oregon</option>
							<option value="PA">Pennsylvania</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="SD">South Dakota</option>
							<option value="TN">Tennessee</option>
							<option value="TX">Texas</option>
							<option value="UT">Utah</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WA">Washington</option>
							<option value="WV">West Virginia</option>
							<option value="WI">Wisconsin</option>
							<option value="WY">Wyoming</option>
						</select>
					</div>
					<span class="help-block" id="school-error-text">Unknown error</span>
					<button type="submit" class="btn btn-success pull-right" id="add-school-button"><i class="fa fa-plus-square"></i> Add Your School </button><div class="clearfix"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well">
				<h3><b>Not in the list? Add your major</b></h3>
					<div class="form-group" id="major-parent">
						<label>Major name</label>
						<input type="text" class="form-control" name="majorName" id="major-name-input">
						<span class="help-block" id="major-error-text">Unknown error</span>
					</div>
					<button type="submit" class="btn btn-success pull-right" id="add-major-button"><i class="fa fa-plus-square"></i> Add Your Major </button><div class="clearfix"></div>
			</div>

		</div>

	</div>

</div>
</body>
</html>

