<!doctype html>
<html>
<head>
	<title>Scheduler - <%=user.username%></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:10px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1>Public User Profile</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		
			<div class="well">
				<h3><span class="fa fa-user"></span> User details</h3>

					<p>
						<strong>Username</strong>: <%= user.username %><br>
						<strong>Reputation</strong>: <%= user.reputation %><br>
						<strong>Last login date</strong>: <%= user.lastLoginDate %><br>
						<strong>School</strong>: <a href="/school/<%= school._id%>"><%= school.name %></a><br>
					</p>

			</div>
		

	</div>

</div>
</body>
</html>
